<% include ../header.ejs %>
<header>
	<h2>Agenda de contatos</h2>
</header>
<section>
	<form action="/contact" method="post">
		<input type="text" name="contact[name]" placeholder="Nome">
		<input type="text" name="contact[email]" placeholder="E-mail">
		<button type="submit">Cadastrar</button>
	</form>

	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			<% contacts.forEach(function(contact, index){ %>
				<tr>
					<td><%- contact.name %></td>
					<td><%- contact.email%></td>
					<td><span id="notify_<%- contact.email %>">Offline</span></td>
					<td>
						<a href="/contact/<%- index %>">Detalhes</a>
						<a href="/chat/<%- contact.email %>" id="chat_<%- contact.email %>">Conversar</a>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</section>

<% include ./notify_script.ejs %>
<% include ../exit.ejs %>
<% include ../footer.ejs%>
